/* --- BACKGROUND --- */
body {
  background: linear-gradient(110deg, #ffca29 60%, #ffea2e 60%); /* background style */
  background-attachment: fixed; /* background stays in fixed position */
 }

/* --- FLEX BOXES --- */
 /* The main contents container */
#maincontent {
  padding: 0px 100px 100px 100px; /* space around flex boxes */
}

 /* the outer flex container */
.flexbox { 
  display: flex; /* The outer flex container */
  justify-content: center;  /* Centre the flexboxes */
  flex-wrap: wrap; /* flexboxes move to new row automatically */
  width: 100%;
 }

/* flexbox font styling */
 .flexbox > div {
  padding: .70em;
  color: white;
}

.flexbox > div > h2{ 
  text-align: center;
  padding-top: 110px; /* Centre text in middle of flexbox */
}

.flexbox > div > p { 
  margin: 10px 10px 10px 10px;
  font-size: 12px;
}


 /* the flex box containers */
.parent{
  flex: 0 30%; /* width of flexbox */
  min-height:300px; /* set min height of flexbox */
}

#hover-content {
    display:none;
}

.parent:hover #hover-content {
  display:block;
}

.parent:hover {
transform: scale(1.2); /* on hover flexbox size increases*/
fit-content(40%); /* make sure flexbox content fits the flexbox on hover */
}

.parent:hover h2 {
    display:none;
}

