/* --- MAIN BODY --- */
body {
  background-image: url("images/sebackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; 
  overflow: scroll; /* stops background from moving when you click on accordion */
  background-attachment: fixed;   
  background-size: cover; /* Resize the background image to cover the entire container */
  width:100%;
  overflow-x: hidden; /* This stops a x axis scroll bar appearing */
  min-height: 100%;
  height: 100%;
} 

/* --- ACCORDIAN CONTENTS--- */

/*-- Text style --*/
u {
  text-decoration: underline; /* underline text with <u> tag */
}

/* Bold text */
strong { 
  font-weight: 900;
  font-size: 20px;
}

h2 {
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  color: black;
  font-weight: bold;
  }

/* Example box */
#examplebox {
border: 2px solid green ;
margin: 15px;
}

#example{
font-size: 16px;
padding:15px;
}

#examplebox2{
border: 2px solid #cc3d6a;
margin-top: 10px;
padding: 10px;
font-size: 17px;
}

/* Subtitles in accordion */
h3 {
font-size: 22px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
font-family: Arial Black;
text-align: left;
}

h4 {
color: black;
text-decoration: underline;
font-size: 20px;
padding-left: 15px;
padding-top: 14px;
}

p {
font-size: 18px;
padding: 1px 0px 1px 0px;
color: black;
font-weight: normal;
margin: 5px 0px 0px 0px;
}

#listinlist {
padding: 0px 0px 0px 35px;
}

#listinlist li{
font-size:17px;
font-weight: normal;
padding: 0px 0px 0px 0px;
}

ol {
font-size: 20px;
padding: 15px;
font-weight:bold;
margin: 0px 0px 0px 0px;
}

#biggerol{
font-size: 23px;
}

#numbered{
font-size: 18px;
padding: 5px 0px 0px 0px;
color: black;
font-weight: normal;
margin: 5px 0px 0px 50px;
}

#numbered p{
font-size: 18px;
padding: 5px 0px 10px 0px;
color: black;
font-weight: normal;
margin: 0px 0px 0px 0px;
}

#bulletpoint li {
font-size: 18px;
padding: 0px 0px 0px 0px;
color: black;
font-weight: normal;
margin: 5px 0px 0px 50px;
}

/* --- Tabs in accordion --- */
/* style the tab */
.tab { 
  overflow: hidden;
  background-color: none;
  width:100%; 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(209, 214, 188) ;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  width: 50%; 
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(186, 191, 166);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(164, 168, 148);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px;
  border: 4px solid #d1d6bc;
  border-top: none;
}

/* --- Accodrion three ---*/
/* -- Row container -- */
#container1{
  padding: 15px;
  margin: 10px 0px 10px 0px;
}

#backgroundbubble{
  background: #f03122;
  margin-left: auto;
  margin-right: auto;
}

/* Silence violence box*/
.column {
  float: left;
  width: 46%;
}

#rowcontent{
width: 100%;
}

#col1{
  border-right: 7px solid #f03122;
  margin-right: 50px;
  padding-right: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#box {
  padding: 4px;
  border: 2px solid LightGrey;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
-webkit-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
  }

#boxtext{
font-size: 18px;
margin-left: 5px;
}

/* -- Accordion container and wrapper -- */
#accordioncontainer{
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px 10px 0px;
  width: 100%;
  height: 100%;
} 
/*display:inline-block; text-align:left; background:none; width:80%;*/


.accordionWrapper{
  border-radius: 15px; /* rounded corners of box which panel is in */
  background:#fff;
  float:left;
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px 20px 20px; /* amount of white stuff around green headers in accorion */
  margin: 0px 50px 50px 50px;
}

.accordionItem{
    float:left;
    display:block;
    width:100%;
    font-family:'Open-sans',Arial,sans-serif;
}

.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:rgb(155, 181, 51);
    color:#fff;
    width:100%;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block; 
}

.open .accordionItemContent{
        padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0px;
        -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(130, 181, 27);
    color: white;
}

/* --- END OF ACCORDION -- */


/* --- LINE WIDGETS --- */
/* https://stackoverflow.com/questions/41790586/draw-square-brackets-around-multi-line-text */
#container2{
margin:0 auto; /* this aligns container in centre of accordion */
width: 90%;
}

h6{
  color: black;
  font-size: 20px;
  font-family: Comic Sans MS;
  border-radius: 23px;
  padding: 10px;
  margin-top: 10px;
  width: 130px;
  height: 45px;
  text-align: center;
  line-height: 20px; /* Make slighly less (20 less) then height */ 
  vertical-align: middle;
}

#left1{
 background: #1fbfa5;
}


#right1{
 margin-left: auto;
 background: #eb7626;
}

#left2{
 background: #cc3d6a; 
 clear: both; /*to stop float above interferring*/
 margin-top: 40px;
}

.box{
  box-sizing: content-box;
  text-align: left;
  margin-top: 20px;
}

#box1{
  border-left: 7px solid #1fbfa5;
  width: 70%;
  clear: both; /* so it is on seperate line to floating elements below */
}



#box2{
  border-right: 7px solid #eb7626;
  margin-left: auto;
  width: 55%;
  float: right;
  display: inline-block;
}

#examplebox3{
  border: 2px dashed #eb7626;
  margin-top: 40px;
  padding: 4px;
  font-size: 16px;
  float: left;
  width: 40%; 
  display: inline-block;
}

#box3{
 clear: both; /* so it is on seperate line to floating elements above */
 border-left: 7px solid #cc3d6a;
 width: 70%;
}

#boxcontent{
padding-left: 15px;
padding-right: 15px;
line-height: 1.2em; /* White space between lines */
font-size: 18px;
}


#CRIB {
  font-size: 25px;
  font-weight: bold;
  color: #cc3d6a;
}

#CRIB::first-letter {
  font-size: 35px;
  color: #cc3d6a;
  font-style: italic;
}

#CRIBtext p{
  display: inline-block;
  margin-right: 8px; /* 4px is normal whitespace amount */
  font-weight: bold;
}

#CRIBtext{
  margin: 0px;
  padding:0px;
}

