/*--- BACKGROUND ---*/
body { 
  background-image: url("Images/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%; 
  background-size: cover;
  overflow-x: hidden; # This stops a x axis scroll bar appearing
  overflow-y: scroll; /* this ensures y scroll bar if needed */
} 

/* --- SEMI-TRANSPARENT BOX--- */

#opaquebox{
  background-color: rgba(255, 255, 255, 0.85);
  width: 90%;
  margin: auto;
}





