{% extends 'base.html' %} 

{% block header %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='ha.css')}}" />
{% endblock header %} 

{% block content %}
<!-- INTRO -->
<p id="undertitle">
    The purspose of a hidden agenda is to build and preserve an existential position and to promote ulterior motives and desires
</p>

<!-- FLEX BOX CONTAINERS -->
<div class="container" id="maincontent">
    <!-- Start of fex boxes -->
    <div class="container" id="flexbox">
        <div id="parent" class="red">
            <h2>Im tough</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who talks about everything they have done with the underlying message that they work harder, longer, and faster than anyone else and that they are invulnerable.
                <br />
                <br />
                <b>Personality:</b> They are unsure of their worth and use this hidden agenda as a wall of defence against rejection.
                <br />
                <br />
                <b>Why do it?</b> People think they are always busy and so won't ask them for things. They get admiration and assurance that they won’t be criticized by others because they 'work so hard'.
                <br />
                <br />
                <b>Social impact:</b> They come off as invulnerable and sometimes attacking which can intimidate people.
            </p>
        </div>

        <div id="parent" class="blue">
            <h2>Im helpless I suffer</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who talks about how unfortunate they are, how they can't get out of their situation, and they come up with reasons as to why the suggestions they receive won't work.
                <br />
                <br />
                <b>Personality:</b> They don't believe in their ability to cope with situations so they displace responsibility onto external factors, instead of accepting personal responsibility for their failures.
                <br />
                <br />
                <b>Why do it?</b> By making themselves out as the victim people will pity them.
                <br />
                <br />
                <b>Social impact:</b> The people trying to help them will start to get annoyed with having their suggestions shot down.
            </p>
        </div>

        <div id="parent" class="hotpink">
            <h2>I know it all</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who lectures/ moralises/ teaches/i nstructs intending to prove how much they know.
                <br />
                <br />
                <b>Personality:</b> Often an indicator that the persons early years were filled with a lot of ‘you’ll never amount to anything’ messages.
                <br />
                <br />
                <b>Why do it?</b> It helps them to prevent re-encountering early experiences of feeling shame at not knowing/ feeling adequate.
                <br />
                <br />
                <b>Social impact:</b> Others become aware that they aren’t heard or appreciated by you, except when they are your audience.
            </p>
        </div>

        <div id="parent" class="purple">
            <h2>Im blameless</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who never takes the blame by creating excuses or by blaming someone else. For example, they take advice from someone else and then blame the person who gave them the advice if things don't pan out
                as they expected.
                <br />
                <br />
                <b>Personality:</b> Low self-esteem.
                <br />
                <br />
                <b>Why do it?</b> It allows them to avoid feeling guilty and they can avoid introspection.
                <br />
                <br />
                <b>Social impact:</b> People get frustrated with the constant complaining and irresponsible attitude.
            </p>
        </div>

        <div id="parent" class="pink">
            <h2>Im fragile</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who uses stories about betrayal and hurt in the past to come across as fragile, wounded, and in need of protection from the truth.
                <br />
                <br />
                <b>Why do it?</b> It allows you to avoid talking about things you don't want to talk about, and it allows you to avoid hearing how your actions have adversely affected someone.
                <br />
                <br />
                <b>Social impact:</b> People feel they have to be careful with what they say, they can’t try and work through issues in the relationship or talk about delicate matters with the 'I'm fragile' person because they make out that
                they can't handle talking about it.
                <br />
                <br />
                <b>Example:</b> ‘You know I don’t like talking about X, lets not get into that please’. ‘I don’t want an argument, just drop it’ halting the conversation because they cant ‘deal’ with having that conservation.
            </p>
        </div>

        <div id="parent" class="springgreen">
            <h2>I'm good</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who looks to impress others by telling stories that highlight one or more attributes about themselves that they value most (courageous, wealthy, generous, loyal, ambitious, successful).
                <br />
                <br />
                <b>Why do it?</b> Creating a distorted view so that only the very best parts get seen helps them to deal with their feelings of inadequacy.
                <br />
                <br />
                <b>Social impact:</b> People can get bored of hearing ‘I’m good’ stories and it can be difficult for people to get close to them.
            </p>
        </div>

        <div id="parent" class="lightgreen">
            <h2>I’m good (but you’re not)</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who uses stories to demonstrate that they were right and others were wrong.
                <br />
                <br />
                <b>How:</b> Implied criticism, blaming other people for drawbacks in their life.
                <br />
                <br />
                <b>Why do it?</b> Boosts their self-esteem.
                <br />
                <br />
                <b>Social impact:</b> Family and friends feel threatened/ put down, and start to feel defensive around them.
                <br />
                <br />
                <b>Example:</b> ‘Wow you I am so impressed you managed to eat that pudding so quickly, I’m so jealous I can’t eat any pudding because I’m on this stupid diet’ (you’re a piggy and I’m trying to be healthy).
            </p>
        </div>

        <div id="parent" class="lightseagreen">
            <h2>You’re good (but I’m not)</h2>
            <p id="hover-content">
                <b>Definition:</b> Someone who says disparaging things about themselves in order to make someone else look better.
                <br />
                <br />
                <b>Why do it?</b> Flattery can get people to like them and helps them buy low-grade relationships, it also can be used to get compliments and favours off of people. In addition, it can be used to prevent people from getting
                angry with them as other people feel pity for them (how can you be angry with someone who already puts themselves down?). It reduces demands and expectations, and be used as an excuse to not change.
                <br />
                <br />
                <b>Social impact:</b> Attract low-grade relationships. <br />
                <br />
                <b>Example:</b> ‘Wow, you did that so well, I couldn’t have done it half as well as you did’ (you’re good at it and I’m bad at it).
            </p>
        </div>
    </div>

    <div>
        <!-- FLEX BOX CONTAINER END -->
        {% endblock content %} 
        
        {% block javascript %}
        <script src="{{url_for('static', filename='ha.js')}}" type="text/javascript"></script>
        {% endblock javascript %}
    </div>
</div>