{% extends 'base.html' %}

{% block content %}
<!-- Home page -->
<div style="width:80%; margin: auto; padding-top: 30px;">
<p style="text-align: left;">
    Welcome to my website on Conversation Tools. The information provided by this website is based of interpretations on the Crucial series: a series of books outlining methods for effectively dealing with difficult conversations.
    <br>
</p>
<p style="text-align: left;">
    Here are the books in the Crucial series:
    <br>
    - Crucial Conversations: Tools for Talking When Stakes Are High, Second Edition by Kerry Patterson
    <br>
    - Crucial Confrontations: Tools for talking about broken promises, violated expectations, and bad behavior
    Kerry Patterson
    <br>
    - Crucial Accountability: Tools for Resolving Violated Expectations, Broken Commitments, and Bad Behavior, Second Edition ( Paperback)
    by Kerry Patterson
</p>
</div>

{% endblock content %}